<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
        <link href="https://unpkg.com/nes.css@latest/css/nes.min.css" rel="stylesheet" />
        <link href="static/css/style.css" rel="stylesheet" />
    </head>
    <body>
        <div id="nescss">
            <header :class="{ sticky: scrollPos > 50 }">
              <div class="container">
                    <div class="nav-brand">
                        <h1><i class="snes-jp-logo brand-logo"></i>Bloom</h1>
                        <p>Bloom is the world’s largest open-science, open-access multilingual large language model (LLM), with 176 billion parameters, and was trained using the NVIDIA AI platform, with text generation in 46 languages</p>
                    </div>
                </div>
              </div>
            </header>

            <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
            <div class="container">
                <main class="main-content">
                    <a class="github-link" :class="{ active:  scrollPos < 200 }" href="https://github.com/nostalgic-css/NES.css" target="_blank" rel="noopener" @mouseover="startAnimate" @mouseout="stopAnimate">
                        <p class="nes-balloon from-right">Fork me<br />on GitHub</p>
                        <i class="nes-octocat" :class="animateOctocat ? 'animate' : ''"></i>
                    </a>

                    <!-- About -->
                    <section class="topic">
                        <h2 id="about"><a href="#about">#</a>Text generation</h2>
                        <p>Write an idea or question in the text area and see what BLOOM can generate </p>
                        <br /><br />
                        
                        <!-- form with post action -->
                        <form action="" method="POST">
                            <button type="submit" class="nes-btn is-success">Generate</button>
                            <br /><br />
                            <textarea id="textarea" name="textarea" class="nes-textarea"  rows="10">{{ result }}</textarea>
                        </form>
                    </section>
                </main>
            </div>
        </div>
    </body>
</html>
